
        <div class="row">
            <div class="col">
                <h2>About</h2>
                <p>이 전시는 영국에서 시작되어 이 전시를 보면 45명에게……</p>

                <p>
                    <dl>
                        <dt>
                            전시일정 :
                        </dt>
                        <dd>
                            3월 20일 이후 경에 1주일~2주일 정도
                        </dd>
                        <dt>
                            전시장소 :
                        </dt>
                        <dd>
                            세운상가쪽
                        </dd>
                        <dt>
                            SNS :
                        </dt>
                        <dd>
                            페북, 인스타
                        </dd>
                    </dl>  
                </p>

                <p>참여작가 (미정) : 김현석, 손윤원, 양숙현, 임현정, 황효덕, 현박, 후니다킴, 하상철, 언메이크랩, 서울익스프레스, 배인숙, 김은지</p>

                <p>
                    <dl>
                        <dt>
                            주최주관 :
                        </dt>
                        <dd>
                            여성기술랩
                        </dd>
                        <dt>
                            기획 :
                        </dt>
                        <dd>
                            강민형
                        </dd>
                        <dt>
                            웹사이트 :
                        </dt>
                        <dd>
                            정혜윤
                        </dd>
                    </dl>  
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h2>About this website</h2>
                <p>이 웹사이트는 모든 사람들의 컴퓨터 브라우저에 저장되는 쿠키 정보를 가시적으로 보여주는 웹사이트 입니다.
                쿠키머겅
                이 웹사이트는 ----전시의 작품을 구매할 수 있는 사이트인데, 장바구니 같이 익숙한 시스템도 사실 쿠키고…. 우리가 의식하지 않는 사이에 위치정보공유나 개인정보 공유를 동의 하지 않아도 이미 많은 정보가 공유되고 있고=>이게 기업의 이익이 될거고.. 근데 우리는 작품을 파는거고. 그래서 이걸 좀 연결해보고 싶었다. 통계는 보통 개발자만 보는데, 그러면 정보가 개발자에게만 공개가되고 개발자는 맘대로 이걸 이용 가능. 이런 개인정보법의 영역에서 소외된 정보를 유저에게  정보를 생산해준 사람에게 공유하고 싶었다. 그래야 쌍방향. 우리는 거대 기업과 똑같은 정보를 사실 가지고 있어. 이것도 가시적으로 보여주고 싶었다. 결국은 정보는 같아, 그런데 그 자본력이나 자본주의, 정치적인 걸로 다르게, 값비싸게 사용되고 있어. 뭐 할 수 있는 ㅇ건 없지만 적어도 개발자로서 생산자에게 다시 정보를 보여주고 공유하는 것은 최소한 가능하다고 생각했다. (혜정이 마음~~~~~)
                </p>

            </div>
        </div>
