
        <div class="row">
            <div class="col">
                <h2>DEGITAL - in your hands</h2>

                <div>
                    <span>이 전시는 디지털 기술을 다루는 예술의 다른 형태를 고민합니다.</span>

                    <p>첨단 기술은 사회와 문명을 발전을 한 방향으로 촉진시키고 때로는 부작용을 야기시키기 때문에 우리는 이를 비판적으로 사용해야한다고 말하지만, 어떤 예술가들에게 기술은 오직 예술적 도구로써 존재합니다. 그러다보니 디지털 기술을 다루는 작품은 환상적이고 몰입적인 풍경을 제시하는 배경적 이미지, 엔터테인먼트, 게임처럼 보이기도 해서 작품은 입체적이지만 오히려 관람 경험의 층위를 평평하게 만듭니다. 한편, 디지털 매체를 다루는 어떤 예술가들에게는 언제부턴가 미디어 아트라는 단어가 어색합니다. 미디어 아트의 정의가 국가 주도의 4차 혁명에 응답하는 화려한 디지털 디스플레이로서 스펙터클화되는 것에도 이유가 있을 것이며, 장르나 매체 자체로서 딱히 미디어 아트라고 정의되기 보다는 시각예술안에서 같은 미술의 맥락으로 작업되고 있기 때문일 수도 있습니다. </p>

                    <p>디지털 기술은 국가나 대기업에 의해 발전해 왔으며, 또 그들을 위해 소비되고 유지됩니다. 많은 미디어 아트 작품들도 그들의 자본과 기술력을 바탕으로, 규모가 크고 화려하게 창작되어 왔고 또 대부분 그들에 의해 소장됩니다. 이러한 맥락에서 디지털 아트, 미디어 아트라 불리우는 예술들이 점점 덩치를 불려갈때, 이 고민의 시작에 불과한 본 전시는 역으로 디지털 기반의 예술이 손에 넣을 수 있고 소장할 수 있는 형태로 흥미롭게 만들어질 수 있는지를 제시해 보고자 합니다. 우리가 현재 거의 모든 것을 인터넷에서 매매함에도 불구하고 디지털 기반의 예술은 개인에게 소유되기 어렵다는 것은 어딘가 역설적입니다. 미디어 아트라는 혼란스러운 반사어(半死語) 를 뒤로 하며, 개발과 발전이라는 이름으로 생존을 위협하고 예술과 기술의 융복합이라는 화려한 이름하에 끝없이 재현되는 기술의 환상성에 대해 비판적 사고를 제시하는 예술가들의 실험을 앞으로 어떤 맥락에서 이야기할지를 고민합니다. </p>

                    <p>이 전시에 참여한 예술가들은 서로 다른 예술의 영역에서 활동하지만, 디지털 기반의 예술을 자의적으로 해석하여 개인성의 가치를 작품에 부여했습니다. 개인성의 각도는 서로 다르지만, 한가지 공통적으로 “개인이 소장가능한 디지털 기반의 예술”이라는 미션과 함께 디지털 기반의 예술의 다른 존재 형태를 찾아보고자 했습니다. </p>

                    <p>이 전시의 작품을 소장하고 싶으시다면 웹사이트 <a href="{{ site.url }}{{ page.url }}">degitalarts.github.io</a> 를 방문해주시길 바랍니다. </br>
                    또 소장하실 것을 매우 강력하게 권합니다! <p>
                </div>
                <h3>Degital</h3>
                <div>
                    <p>Degital은 digital의 철자를 고의적으로 틀리게 바꾼 것으로, 기존의 디지털 예술의 개념을 확장시키고 대안을 제시하면서도 유희성을 유지하며 흥미로운 작품의 라인업을 제시하고자 고안된 단어입니다. 또한 디지털 아트, 미디어 아트 영역에 있어서의 다양성 이슈 (젠더, 교육 등) 를 의식하기 위해, 페미니즘 등에서 철자를 고의적으로 바꿔 새로운 시각을 제시하는 방법 ((woman 대신 womyn) 에서 가져온 것이기도 합니다. Digital은 본래 손가락을 뜻하는 라틴어 digit에서 유래한 것으로 숫자를 차례대로 세는데 쓰였으며, 이에 따라 이산적 수치를 이용하여 처리하는 것을 digital로 불러 왔으나, 고의적 철자오류 degital은 반대, 결여, 부정을 뜻하는 접두어 de-를 적어, 같은 발음이지만 다른 뜻을 지시하기 위해 만들어졌습니다.</p> 

                    <p>In your hands는 한국에서 ‘쉬운 기술' 혹은 ‘간단한 기술'을 뜻하기 위해 많이 쓰이는 ‘내 손안의 (기술)’의 직역이지만, 본 전시가 소유가능한 디지털 기반의 예술 작품을 제시하는 만큼 실제 관객이 손 안에 넣어 가질 수 있다는 것을 의미하기도 합니다. 또 영어에서 ‘in your hands’는 미래가 당신의 손에 달렸다 (‘The future is in your hands’) 와 같이 미래에 대한 책임감이나 기대감을 나타내기도 하여, 본 전시가 디지털 기반의 예술 작품의 앞으로의 가능성에도 관심을 가지고 있음을 뜻하기도 합니다.</p>
                </div>
                <p>
                    <dl>
                        <dt>
                            전시일정 :
                        </dt>
                        <dd>
                            3월 20일 이후 경에 1주일~2주일 정도
                        </dd>
                        <dt>
                            전시장소 :
                        </dt>
                        <dd>
                            세운상가쪽
                        </dd>
                        <dt>
                            SNS :
                        </dt>
                        <dd>
                            페북, 인스타
                        </dd>
                        <dt>
                            참여작가 :
                        </dt>
                        <dd>
                            <span>김은지 / 김현석 / 배인숙 / 손윤원 & 라나머도키 / 서울익스프레스 / 양숙현 / 언메이크랩 / 임현정 / 하상철 / 현박 / 황효덕 / 후니다킴</span>
                            <span>Eunji Briller Kim / HASC / Hoonida Kim / Hyeonjung Yim / Hyo Duck Hwang / Hyun Parke / Hyunseok Kim / Insook Bae / Seoul Express TechLAB / Sookyun Yang / Unmake Lab / Younwon Sohn & Lana Murdocy</span>
                        </dd>
                    </dl>  
                </p>

                <p> 
</p>

                <p>
                    <dl>
                        <dt>
                            주최주관 :
                        </dt>
                        <dd>
                            여성기술랩
                        </dd>
                        <dt>
                            기획 :
                        </dt>
                        <dd>
                            강민형
                        </dd>
                        <dt>
                            웹사이트 :
                        </dt>
                        <dd>
                            정혜윤
                        </dd>
                    </dl>  
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h2>About this website</h2>
                <p>이 웹사이트는 모든 사람들의 컴퓨터 브라우저에 저장되는 쿠키 정보를 가시적으로 보여주는 웹사이트 입니다.
                쿠키머겅
                이 웹사이트는 ----전시의 작품을 구매할 수 있는 사이트인데, 장바구니 같이 익숙한 시스템도 사실 쿠키고…. 우리가 의식하지 않는 사이에 위치정보공유나 개인정보 공유를 동의 하지 않아도 이미 많은 정보가 공유되고 있고=>이게 기업의 이익이 될거고.. 근데 우리는 작품을 파는거고. 그래서 이걸 좀 연결해보고 싶었다. 통계는 보통 개발자만 보는데, 그러면 정보가 개발자에게만 공개가되고 개발자는 맘대로 이걸 이용 가능. 이런 개인정보법의 영역에서 소외된 정보를 유저에게  정보를 생산해준 사람에게 공유하고 싶었다. 그래야 쌍방향. 우리는 거대 기업과 똑같은 정보를 사실 가지고 있어. 이것도 가시적으로 보여주고 싶었다. 결국은 정보는 같아, 그런데 그 자본력이나 자본주의, 정치적인 걸로 다르게, 값비싸게 사용되고 있어. 뭐 할 수 있는 ㅇ건 없지만 적어도 개발자로서 생산자에게 다시 정보를 보여주고 공유하는 것은 최소한 가능하다고 생각했다. (혜정이 마음~~~~~)
                </p>

            </div>
        </div>
