{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  <img src="{{ site.url }}/img/degital.svg" alt="" class="avatar">
  <a href="{{ site.url }}" class="author_name hidden">{{ author.name }}</a>
  <ul class="watching-you-l">
      <li id="my_os"></li>
      <li id="my_browser"></li>
      <li id="my_res"></li>
      <li id="my_ip"></li>
      <li id="my_cookies"></li>
  </ul>
  <span class="author_bio mbm">{{ author.comment }}</span>

  
  {% include social-links.html %}
</div>
