/* LAYOUT CSS */
.cover {
  background-color: #dedede;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 420px;
  padding: 30px 15px 20px;
  border:solid 1px $text-color;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: #141414;
  padding: 0 30px;
  .avatar {
    width: 30%;
    height: auto;
    float: none;
  }
  .author_name {
    display: block;
    color: $text-color;
    font-size: 0em;
    text-transform: lowercase;
  }
  .author_job {
    display: none;
    color: $secondary;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
  .author_bio {
    font-size: 90%;
    display: block;
  }
  .watching-you-l {
    list-style:none;
    @include media-query($small-screen) {
      padding-right:2%;
    }
    @include media-query($medium-screen) {
      padding:0;
    }
  }
  @include media-query($medium-screen) {
    text-align: right;
    margin: 0 auto;
    padding: 0 0px 80px;
  }
}
.layer-cover{
  position: absolute; 
  top: 0px; 
  left: 0; 
  width: 100%; 
  height: 100vh;
  border: 0px; 
  margin-left: 0px; 
  display: block; 
  background-color: #dedede; 
  z-index: 10000;
}
.cart {
  position: fixed;
  top: 90%;
  width:100%;
  height: 10%;
  z-index: 9999;
  background-color: #dedede;
  @include media-query($medium-screen) {
    position: absolute;
    top: 2%;
    right: 0;
    z-index: 9999;
    width:20%;
    height:auto;
  }
  ul li {
    list-style:none;
    float:left;
    @include media-query($medium-screen) {
      float:none;
    }
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: #000100;
        &:hover,
        &:focus {
          color: #08b59b;
        }
      }
      a.set-white {
        color: #dedede;
      }
    }
  }
}
.nav-list {
  position: absolute;
  top: 2%;
  right: 50%;
  z-index: 2;
  width: auto;
  margin: 0;
  padding: 0 1%;
  list-style: none;
  background: #08b59b;
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    &:after {
      content: '/';
      color: #fff;
    }
    &:last-child:after {
      content: '';
    }
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 85%;
      color: $white;
      &:hover,
      &:active,
      &:focus {
        font-weight: 600;
      }
    }
  }
}
.hidden {
  display: none;
}
.test-ul li {
  list-style:none;
}