<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="layerPop" id="21628" style="position: absolute; top: 0px; left: 0; width: 100%; height: 100vh; border: 0px; margin-left: 0px; display: block; background-color: rgba(0, 0, 0, 0.9); z-index: 10000;">
  <a href="#none" onclick="redirectPopupPage('/promotion/haruPlanDetail.do?planNumber=36244&amp;SKM_CD=100101')" style="width: 100%; height: 70vh; display:" >
    <img src="{{ site.url }}/img/Cookie.png" usemap="image-map" style="width: 17%; height: auto;">
  </a>
  <p style="color: #fff; text-align: center; vertical-align: baseline; word-break: keep-all; padding-bottom: 10%">
     이 사이트는 쿠키를 잔뜩 저장합니다.</br>
     하지만 쓰이지는 않습니다.</br>
     그냥 잔뜩 담아둡니다.</br>
     </br>
     쿠키를 저장하는데 동의해주세요.</br>
     그렇지 않으면 이 사이트를 볼 수 없습니다.
  </p>
  <map name="image-map">
    <map name="image-map">
      <area target="_self" alt="agree" title="agree" href="" coords="722,1788,935,1816,1339,1626,1729,1297,1833,970,1751,584,1573,325,1295,132,1001,20,632,44,309,267,106,559,2,746,60,1076,119,1250,288,1305,268,1479,362,1606,436,1718,592,1803" shape="poly">
    </map>
    <area shape="rect" coords="138,222,248,249" href="#none" onclick="setCookie(21628);closeLayerPopup(21628)" title="쿠키허용하기">
    <area shape="rect" coords="220,3,247,30" href="#none" onclick="closeLayerPopup(21628)" title="닫기">
  </map>
 </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="post-listing">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
    <div class="col s12 m6">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
  </div>
  
<div id="embed-api-auth-container"></div>
<div id="chart-container"></div>
<div id="view-selector-container"></div>
  {% include js.html %}
</body>
</html>
